<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22244142198-tqajbmdtuu9i2nrh69bltaao707gj8rv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22244142198-tqajbmdtuu9i2nrh69bltaao707gj8rv</string>
	<key>API_KEY</key>
	<string>AIzaSyAwnWA4pxUWLSs8L_94nYFkzObZCaUIaw4</string>
	<key>GCM_SENDER_ID</key>
	<string>22244142198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.permanent.permanent.staging</string>
	<key>PROJECT_ID</key>
	<string>pr-notifications-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>pr-notifications-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22244142198:ios:3a42442328e8aaa91c8357</string>
</dict>
</plist>